.hi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

button{
    background-color: rgb(63, 218, 245);
    font-weight: bold;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid black;
}